
    .parent{
        margin-top: -2rem;
        margin-bottom: -2rem;
        padding: 0;
        background: #BF3131;


    
        .card-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 2rem 2rem;
            padding: 1rem;
            background: #BF3131;


            mat-tab-group{
              background-color: #F3EDC8; 
              color: #674903;
              :focus{
                background-color: #F3EDC8;
                color: #674903;
              }
            }

        
            .example-card {
                display: flex;
                width: 600px;
                justify-content: center;
                flex-direction: column;
                margin: 2rem 1rem;
                padding: 1.5rem;
                background-color: #f5f1db;
        
                .input-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 2rem;
                }
              }

              mat-card-actions{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
              }

              .container-buttons{
                display: flex;
                justify-content: space-between;
                align-items: center;
            
              }

              .button-save{
                margin-left: -280px;
                width: 20rem;


                .save{
                  background-color: #F3EDC8;
                  color: #674903;
                  font-size: 1rem;
                }
              }

              .button-cancel{
                margin-right: -280px;


                .cancel{
                  background-color: #674903;
                  color: #F3EDC8;
                  font-size: 1rem;
                }
              }

        }
    }
    
