@import url(../../../../styles.scss);




.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 0 30px;
    white-space: nowrap;

    .logo{
      width: 230px;
      margin-left: 60px;
   }

    @media screen and (max-width: 480px) {
     padding: 0 16px;
    }
   //  &-menu {
   //   display: flex;
   //   align-items: center;
   //   a {
   //    padding: 20px 30px;
   //    text-decoration: none;
   //    color: var(--inactive-color);
   //    border-bottom: 2px solid transparent;
   //    transition: 0.3s;
   //    @media screen and (max-width: 610px) {
   //     &:not(.main-header-link) {
   //      display: none;
   //     }
   //    }
   //    &.is-active,
   //    &:hover {
   //     color: var(--theme-color);
   //     border-bottom: 2px solid var(--theme-color);
   //    }
   //   }
   //  }
   }

     
   .header-profile {
    display: flex;
    align-items: center;
    padding: 0 16px 0 40px;
    margin-left: auto;
    flex-shrink: 0;
    svg {
     width: 22px;
     color: #f9fafb;
     flex-shrink: 0;
    }
   }
   
   
   .profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--theme-color);
    margin-left: 22px;
   }
   
   .wide {
    .header-menu,
    .header-profile {
     display: none;
    }

    .menu-circle {
     margin-right: 0;
    }
   }

   .unsuscribe-btn{
      background-color: #674903;
      color: #F3EDC8;
      width: 70%;
      font-size: 1rem;
      margin-left: 2rem;
      padding: 1rem 1rem;
   }


   @media screen and (max-width: 380px) {
      .header{
         width: 300px;
         height: 60px;

         .logo{
            width: 150px;
            margin-left: -20px;
         }
      }

      .unsuscribe-btn{
         width: 70%;
         font-size: 0.8rem;
         margin-left: 4rem;
         padding: 1rem 1rem;
      }
     }