
        <mat-tab-group animationDuration="1500ms"
        style="background-color: #f5f1db; color: #674903; 
        :focus, :active{
            background-color: #F3EDC8;
            color: #674903;
          }"
        >
            <mat-tab label="Users">
                <div>
                    <app-users></app-users>
                </div>
            </mat-tab>
            <mat-tab label="Create User">
              <div >
                <app-create-user></app-create-user>
              </div>
            </mat-tab>
          </mat-tab-group>          
