  
  <div class="parent">
  <h1>List of users</h1>
  
  
  <h5><u><i>Search users by name, email or status</i></u></h5>
  <form class="example-form">
  <mat-form-field class="example-full-width">
  <!-- <span matPrefix></span> -->
  <input type="text" matInput placeholder="Search" name= "search" [(ngModel)]= "search" #filter>
  <button matSuffix mat-button (click)="filterResults(filter.value)" (keyup.enter)="filterResults(filter.value)" type="submit"><mat-icon >search</mat-icon></button>
  </mat-form-field>  
  </form>

  

  @if(filteredUserList == undefined || filteredUserList.length == 0) {
    <div class="container-cards" *ngIf="!loading; else loadingTemplate" >
      <mat-card class="user-cards" *ngFor="let user of users" >
        <div class="single-cards">
          <div>
            <div>
              <h2>{{ user.name }}</h2>
              <p>Email: {{ user.email }}</p>
              <p>Gender: {{ user.gender }}</p>
              <p>Status: {{ user.status }}</p>
            </div>
          </div>
          <div class="example-button-row">
            <button
            class="details-btn"
              mat-fab
              extended
              (click)="user.id !== undefined ? onDetailsClick(user.id) : null"
            >
  
              Posts
            </button>
            <button
            class="delete-btn"
              mat-fab
              extended
              (click)="user.id !== undefined ? onDeleteClick(user.id) : null"
            >
              Delete User
            </button>
          </div>
        </div>
      </mat-card>

    </div>
    <ng-template #loadingTemplate>
      <app-loader></app-loader>
    </ng-template>
  } 
  @else {
    <div class="container-cards" >
      <mat-card class="user-cards" *ngFor="let user of filteredUserList"  >
        <div class="single-cards">
          <div>
            <div>
              <h2>{{ user.name }}</h2>
              <p>Email: {{ user.email }}</p>
              <p>Gender: {{ user.gender }}</p>
              <p>Status: {{ user.status }}</p>
            </div>
          </div>
          <div class="example-button-row">
            <button
              mat-fab
              extended
              class="details-btn"
              (click)="user.id !== undefined ? onDetailsClick(user.id) : null"
            >
  
              Posts
            </button>
            <button
              mat-fab
              extended  
              class="delete-btn"   
              (click)="user.id !== undefined ? onDeleteClick(user.id) : null"
            >
              Delete User
            </button>
          </div>
        </div>
      </mat-card>

    </div>

  }

</div>
