<!-- <div class="parent">
  <h1>List of users</h1>

  <div class="search-form" *ngIf="search!== ''">
    <h5><u><i>Demo to create search bar in Angular material!! </i></u></h5>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <span matPrefix> </span>
        <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search" #filter>
        <button matSuffix mat-button (click)="filterResults(filter.value)"><mat-icon >search</mat-icon></button>
      </mat-form-field>
      <br/>
      <p class="search">{{search}}</p>
    </form>
  </div>

  <div class="container-cards" *ngIf="filteredUserList.length > 0">
    <mat-card class="user-cards" *ngFor="let user of filteredUserList">
      <div class="single-cards">
        <div>
          <div>
            <h2>{{ user.name }}</h2>
            <p>Email: {{ user.email }}</p>
            <p>Gender: {{ user.gender }}</p>
            <p>Status: {{ user.status }}</p>
          </div>
        </div>
        <div class="example-button-row">
          <button
            mat-fab
            extended
            color="primary"
            (click)="user.id!== undefined? onDetailsClick(user.id) : null"
          >

            Posts
          </button>
          <button
            mat-fab
            extended
            color="warn"
            (click)="user.id!== undefined? onDeleteClick(user.id) : null"
          >

            Delete User
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div> -->

  
  
  
  <div class="parent">
  <h1>List of users</h1>
  
  
  <h5><u><i>Search users by name, email or status</i></u></h5>
  <form class="example-form">
  <mat-form-field class="example-full-width">
  <span matPrefix> </span>
  <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search" #filter>
  <button matSuffix mat-button (click)="filterResults(filter.value)" (keyup.enter)="filterResults(filter.value)" type="submit"><mat-icon >search</mat-icon></button>
  </mat-form-field>  
  </form>

  

  @if(filteredUserList == undefined || filteredUserList.length == 0) {
    <div class="container-cards" >
      <mat-card class="user-cards" *ngFor="let user of users" >
        <div class="single-cards">
          <div>
            <div>
              <h2>{{ user.name }}</h2>
              <p>Email: {{ user.email }}</p>
              <p>Gender: {{ user.gender }}</p>
              <p>Status: {{ user.status }}</p>
            </div>
          </div>
          <div class="example-button-row">
            <button
              mat-fab
              extended
              color="primary"
              (click)="user.id !== undefined ? onDetailsClick(user.id) : null"
            >
  
              Posts
            </button>
            <button
              mat-fab
              extended
              color="warn"
              (click)="user.id !== undefined ? onDeleteClick(user.id) : null"
            >
              Delete User
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  } 
  @else {


    <div class="container-cards" >
      <mat-card class="user-cards" *ngFor="let user of filteredUserList"  >
        <div class="single-cards">
          <div>
            <div>
              <h2>{{ user.name }}</h2>
              <p>Email: {{ user.email }}</p>
              <p>Gender: {{ user.gender }}</p>
              <p>Status: {{ user.status }}</p>
            </div>
          </div>
          <div class="example-button-row">
            <button
              mat-fab
              extended
              color="primary"
              (click)="user.id !== undefined ? onDetailsClick(user.id) : null"
            >
  
              Posts
            </button>
            <button
              mat-fab
              extended
              color="warn"
              (click)="user.id !== undefined ? onDeleteClick(user.id) : null"
            >
              Delete User
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  }

</div>
