<div class="parent">
  <h1>List of users</h1>
  <div class="container-cards">
    <mat-card class="user-cards" *ngFor="let user of users">
      <div class="single-cards">
        <div>
          <div>
            <h2>{{ user.name }}</h2>
            <p>Email: {{ user.email }}</p>
            <p>Gender: {{ user.gender }}</p>
            <p>Status: {{ user.status }}</p>
          </div>
        </div>
        <div class="example-button-row">
          <button
            mat-fab
            extended
            color="primary"
            (click)="user.id !== undefined ? onDetailsClick(user.id) : null"
          >
            <!-- <mat-icon>favorite</mat-icon> -->
            Posts
          </button>
          <button
            mat-fab
            extended
            color="warn"
            (click)="user.id !== undefined ? onDetailsClick(user.id) : null"
          >
            <!-- <mat-icon>favorite</mat-icon> -->
            Delete User
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
